
@media screen and (min-width:601px){
/* SUBMENU CONTATO */
#sub-geral-contato{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 26rem;
    gap: 1rem;
    list-style-type: none;
}

/* ABAS SUBMENU */
#sub-contato, #sub-me-escreva{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-medio);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* MENU FORMAÇÃO */
#menu-contato{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    width: 100%;
}


/* CONTEÚDO CONTATO */
#content-contato, #content-me-escreva{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 28.5rem;
    height: 25.5rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 2rem 10rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
}

.content-subtitulo{
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: 1rem;
    }

.content-a-subtitulo{
    text-decoration: none;
    color: var(--cor-fonte-escuro);
    font-weight: 500;
}

a:visited{
    text-decoration: none;
    color: var(--cor-fonte-escuro);
    font-family: var(--fonte-montserrat);
}

/* CONTEÚDO ME ESCREVA */
#content-input-nome, #content-input-email{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    width: 30rem;
    height: 2rem;
    font-family: var(--fonte-montserrat);
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--bg-claro);
    border: none;
    outline: none;
}

#content-input-mensagem{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    width: 30rem;
    height: 10rem;
    padding-left:0.5rem;
    padding-top: 0.5rem;
    background-color: var(--bg-claro);
    border: none;
    outline: none;

    font-family: var(--fonte-montserrat);
    font-size: 1rem;

}

#content-button{
    display: flex;
    position: absolute;
    left: 34rem;
    top: 19.5rem;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-montserrat);
    font-size: 1rem;
    background-color: var(--cor-fonte-escuro);
    font-weight: 700;
    color: var(--bg-claro);
    border: none;
    outline: none;
}
}