
@media screen and (min-width:601px){
/* SUBMENU FORMAÇÃO */
#sub-geral-formacao{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 18.5rem;
    gap: 1rem;
    list-style-type: none;
}

/* ABAS SUBMENU */
#sub-certificacoes, #sub-formacao, #sub-ferramentas-plataformas, #sub-idiomas{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-medio);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* MENU FORMAÇÃO */
#menu-formacao{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    width: 100%;
}

/* CONTEÚDO FORMAÇÕES */
#content-certificacao, #content-ferr-plat, #content-formacao, #content-idiomas{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 20.9rem;
    height: 33.1rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 10rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
}


.content-subtitulo{
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: -1rem;
}

.content-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
}

/* CONTEÚDO FERRAMENTAS E PLATAFORMAS E IDIOMAS*/
.content-li-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 0.7rem;
    margin-left: 2rem;
}

}