
/* APRESENTAÇÃO */
#sub-geral{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 11.5rem;
    gap: 1rem;
    list-style-type: none;
}

#sub-info-pessoais{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-escuro);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* SUBMENU APRESENTAÇÃO */
#menu-inicial{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    width: 100%;
}

/* CONTEUDO INFORMAÇÕES PESSOAIS */
#content-info-pessoais{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 14rem;
    height: 40rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 10rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    flex-direction: column;
}

.content-subtitulo{
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 1.2rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: -1rem;
}

.content-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}

.content-li-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 0.7rem;
    margin-left: 3rem;
}
