*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #FFFFFF;
    --bg-escuro: #c6c6b6;
    --bg-medio: #d6d6c9;
    --bg-claro: #dfdfd5;
    --cinza-escuro: #626868;

    --cor-fonte-escuro: #403f3f;
    --cor-fonte-claro: #7c8666;
    --fonte-montserrat: "Montserrat", sans-serif; /*font-weight: <300 -light, 400-regular> */
    --fonte-play: "Playfair Display", serif;

}

@media screen and (min-width:601px){
/* SUBMENU GERAL */
#sub-geral{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 15rem;
    gap: 1rem;
    list-style-type: none;
}

/* ABAS SUBMENU */
#sub-sobremim, #sub-experiencia, #sub-competencias-habilidades{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-medio);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;

}

/* IMAGEM JESSICA */
#imagem-jessica {
    width: 20rem;
    position: absolute;
    left: 70rem;

}

/* CONTEÚDO E MENU SOBRE MIM */
#menu-sobremim{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    width: 100%;
}

/* CONTEÚDO SOBRE MIM */
#content-sobre-mim{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 17.5rem;
    height: 30rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-indent: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;
    line-height: 1.5rem;
}

/* CONTEÚDO EXPERIÊNCIA */
#content-ex{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 17.5rem;
    height: 30rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
}

#content-ex-data{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#content-ex-titulo{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: justify;
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#content-ex-subtitulo{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

.content-ex-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: 3rem;
}
/* CONTEÚDO COMPETÊNCIAS E HABILIDADES */
#content-comp{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 17.5rem;
    height: 30rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
}

.content-comp-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: 3rem;
}
}

