
@media screen and (min-width:601px){
/* SUBMENU GERAL */
#sub-geral-sobremim{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 15rem;
    gap: 1rem;
    list-style-type: none;
}

/* ABAS SUBMENU */
#sub-sobremim, #sub-experiencia, #sub-competencias-habilidades{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-medio);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;

}

/* IMAGEM JESSICA */
#imagem-jessica {
    width: 20rem;
    position: absolute;
    left: 70rem;

}

/* MENU SOBRE MIM */
#menu-sobremim{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    width: 100%;
}

/* CONTEÚDO SOBRE MIM */
#content-sobre-mim{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 17.5rem;
    height: 36.5rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-indent: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;
    line-height: 1.5rem;
}

/* CONTEÚDO EXPERIÊNCIA */
#content-ex, #content-comp{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 17.5rem;
    height: 36.5rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
}

#content-ex-data{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#content-ex-titulo{
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

#content-ex-subtitulo{
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 1rem;
    text-align: justify;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.content-ex-content, .content-comp-content{
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin-left: 3rem;
}

}

