*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #FFFFFF;
    --bg-escuro: #c6c6b6;
    --bg-medio: #d6d6c9;
    --bg-claro: #dfdfd5;
    --cinza-escuro: #626868;

    --cor-fonte-escuro: #403f3f;
    --cor-fonte-claro: #7c8666;
    --fonte-montserrat: "Montserrat", sans-serif; /*font-weight: <300 -light, 400-regular> */
    --fonte-play: "Playfair Display", serif;

}

@media screen and (min-width:601px){
/* GERAL */
body{
    background-color: var(--branco);
    font-family: var(--fonte-montserrat);
}

/* HEADER */
#header{
    background-color: var(--bg-claro);
    padding: 1rem;
    width: 100%;
    font-family: var(--fonte-play);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-fonte-escuro);
    padding-left: 2rem;
}

/* BACKGROUND*/
#retangulo-background{
    position: absolute;
    top: 0;
    width: 18rem;
    height: 100%;
    z-index: -1;
    background-color: var(--cinza-escuro);
}

#retangulo-footer{
    position: absolute;
    bottom: 0;
    left: 18rem;
    width: 100%;
    height: 8rem;
    z-index: -1;
    background-color: var(--bg-claro);
}




/* MENU */
#nav-menu{
    margin-top: 3rem;
}

li{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-claro);
    font-weight: 600;
    font-size: 1rem;
}

#menu-sobremim, #menu-formacao, #menu-portfolio, #menu-contato, #menu-inicial{
    display: block;
    width: 20rem;
    height: 2.5rem;
    text-decoration: none;
    background-color: var(--bg-claro);
    margin-left: 6rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
}

a:visited{
    text-decoration: none;
    color: var(--cor-fonte-claro);
    font-family: var(--fonte-montserrat);
}

}

/* INFORMAÇÕES PESSOAIS */
#sub-geral{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 30rem;
    top: 11.5rem;
    gap: 1rem;
    list-style-type: none;
}

#sub-info-pessoais{
    display: flex;
    width: 10rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--bg-escuro);
    padding: 0.7rem;
    cursor: pointer;

    font-family: var(--fonte-play);
    color: var(--cor-fonte-escuro);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: center;

}


#content-info-pessoais{
    display: flex;
    position: absolute;
    left: 30rem;
    top: 14rem;
    height: 30rem;
    width: 50rem;
    background: var(--bg-escuro);
    padding: 4rem 18rem 0 2rem;
    margin-right: 20rem;

    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-escuro);
    font-weight: 500;
    font-size: 1rem;
    text-indent: 2rem;
    letter-spacing: 0.05rem;
    text-align: justify;
    line-height: 1.5rem;
}

@media screen and (max-width:600px) {

}