*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --branco: #FFFFFF;
    --bg-escuro: #c6c6b6;
    --bg-medio: #d6d6c9;
    --bg-claro: #dfdfd5;
    --cinza-escuro: #626868;

    --cor-fonte-escuro: #403f3f;
    --cor-fonte-claro: #7c8666;
    --fonte-montserrat: "Montserrat", sans-serif; /*font-weight: <300 -light, 400-regular> */
    --fonte-play: "Playfair Display", serif;

}

@media screen and (min-width:601px){
/* GERAL */
body{
    background-color: var(--branco);
    font-family: var(--fonte-montserrat);
}

/* HEADER */
#header{
    background-color: var(--bg-claro);
    padding: 1rem;
    font-family: var(--fonte-play);
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-fonte-escuro);
    padding-left: 2rem;
}

/* BACKGROUND*/
#retangulo-background{
    position: fixed;
    top: 0;
    width: 18rem;
    height: 100%;
    z-index: -1;
    background-color: var(--cinza-escuro);
}

#retangulo-footer{
    position: fixed;
    bottom: 0;
    left: 18rem;
    width: 100%;
    height: 8rem;
    z-index: -1;
    background-color: var(--bg-claro);
}



/* MENU */
#nav-menu{
    margin-top: 3rem;
}

li{
    font-family: var(--fonte-montserrat);
    color: var(--cor-fonte-claro);
    font-weight: 600;
    font-size: 1rem;
}

#menu-sobremim, #menu-formacao, #menu-portfolio, #menu-contato{
    display: block;
    width: 20rem;
    text-decoration: none;
    background-color: var(--bg-claro);
    margin-left: 6rem;
    margin-bottom: 1rem;
    padding: 0.7rem;
}

a:visited{
    text-decoration: none;
    color: var(--cor-fonte-claro);
    font-family: var(--fonte-montserrat);
}

}

@media screen and (max-width:600px) {

}